@charset "UTF-8";
:root {
  --first-text-color: #ffffff;
  --second-title-color: #000000;
  --third-tex-color: #212121;
  --fourth-text-color: #757575;
  --fifeth-text-color: #2196f3;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--third-tex-color);
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

button {
  cursor: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--third-tex-color);
  width: 1600 px;
}

.pointer {
  cursor: pointer;
}

.container__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  margin: 0 auto;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .header__navigation {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigation {
    display: flex;
  }
}

.nav {
  justify-content: center;
  align-items: baseline;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.nav--color {
  color: var(--third-tex-color);
}

.nav--color .nav__link {
  color: var(--third-tex-color);
}

.nav--color .nav__link:focus {
  color: var(--fifeth-text-color);
}

.nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.nav__item--left + .nav__item--left {
  margin-left: 50px;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.nav__link.nav__link--active::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0px;
}

.nav__link--color-black {
  color: var(--third-tex-color);
  transition: color 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.nav__link--color-black:hover, .nav__link--color-black:focus {
  color: var(--fifeth-text-color);
}

.nav__link--color-grey {
  color: var(--fourth-text-color);
  transition: color 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.nav__link--color-grey:hover, .nav__link--color-grey:focus {
  color: var(--fifeth-text-color);
}

.nav__connect .nav__link {
  color: var(--fourth-text-color);
}

.nav__connect .nav__link .nav__link:focus {
  color: var(--fifeth-text-color);
}

.logo__web {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: var(--fifeth-text-color);
  margin-right: 93px;
}

@media screen and (min-width: 768px) {
  .logo__web {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__web {
    margin-right: 93px;
  }
}

.logo__web--footer {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: var(--fifeth-text-color);
}

.logo__studio-header {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26 px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: #000000;
}

.logo__studio--footer {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26 px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: #000000;
}

.container__connect {
  justify-content: space-between;
  align-items: center;
  display: none;
}

@media screen and (min-width: 768px) {
  .container__connect {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    flex-wrap: wrap;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .container__connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__connect--left {
    margin-left: auto;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .nav__connect--left {
    margin-left: auto;
    justify-content: space-between;
  }
}

.nav__item-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .nav__item-email {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__item-email {
    font-size: 14px;
  }
}

.nav__item-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .nav__item-tel {
    font-size: 12px;
    position: absolute;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__item-tel {
    font-size: 14px;
    position: relative;
  }
}

.header__icon-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.header__icon-tel:hover {
  fill: var(--fifeth-text-color);
}

@media screen and (min-width: 768px) {
  .header__icon-tel {
    font-size: 12px;
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header__icon-tel {
    height: 14px;
    width: 10px;
    height: 16px;
  }
}

.header__icon-email {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.header__icon-email:hover {
  fill: var(--fifeth-text-color);
}

@media screen and (min-width: 768px) {
  .header__icon-email {
    font-size: 12px;
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header__icon-email {
    font-size: 12px;
    width: 16px;
    height: 12px;
  }
}

.line {
  border-bottom: 1px solid #ececec;
}

.open__menu--mob {
  margin-left: auto;
  border: none;
  background-color: #fff;
  transition: fill 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.open__menu--mob:hover, .open__menu--mob:focus {
  fill: var(--fifeth-text-color);
}

@media screen and (min-width: 768px) {
  .open__menu--mob {
    display: none;
  }
}

.close__menu--mob {
  display: block;
  margin-left: auto;
  margin-bottom: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  transition: fill 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.close__menu--mob:hover, .close__menu--mob:focus {
  fill: var(--fifeth-text-color);
}

.mob__menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding-top: 48px;
  padding-top: 48px;
}

.mob__menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__link {
  font-style: 400;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.mob__link:hover, .mob__link:focus {
  color: var(--fifeth-text-color);
}

.mob__item--contact:not(:last-child) {
  margin-bottom: 32px;
}

.mob__nav--link-tel {
  font-style: 400;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob__nav--link-mail {
  font-style: 400;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob__social--list {
  display: flex;
  margin-top: 64px;
}

.mob__social--link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 10px;
}

.line__menu--mob {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  /* Параметры линии */
  padding-left: 10px;
  padding-right: 0px;
  /* Расстояние от линии до текста */
  background: #ffffff;
  height: 22px;
}

.hero__section {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
  .hero__section .hero__title {
    font-size: 44px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}

.hero__container {
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 30px;
}

.button, .input__button, .modal__button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  color: var(--first-text-color);
  background-color: var(--fifeth-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.qualities__section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .qualities__section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.qualities__nav {
  margin-bottom: -30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .qualities__nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .qualities__nav {
    display: flex;
  }
}

.qualities__item {
  width: 100%;
  margin-bottom: 30px;
}

.qualities__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .qualities__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .qualities__item {
    width: calc(100% / 4 - 30px);
  }
}

.qualities__overlay {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qualities__icon {
  width: 70px;
  height: 70px;
}

.qualities__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-tex-color);
}

@media screen and (min-width: 1200px) {
  .qualities__title {
    text-align: left;
  }
}

.qualities__description {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  margin-top: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__section {
  padding-left: 15px;
  padding-bottom: 94px;
}

.work__container {
  margin: 0 auto;
  width: 1170px;
  height: 386px;
}

.work__nav {
  display: flex;
}

.work__item {
  margin-right: 0px;
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  align-items: center;
}

.work__text--color {
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.comand__section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.comand__nav {
  margin-bottom: -30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .comand__nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .comand__nav {
    display: flex;
  }
}

.comand__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 30px;
}

.comand__item + .comand__item {
  margin-right: 30px;
}

.comand__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .comand__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .comand__item {
    width: calc(100% / 4 - 30px);
  }
}

.comand__overlay {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-tex-color);
}

.comand__profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  margin-top: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-top: 16px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--fifeth-text-color);
}

.social__link:hover .social-comand__icon,
.social__link:focus .social-comand__icon {
  fill: #ffffff;
}

.social-comand__icon {
  fill: #b8b7af;
}

.social__list--last {
  display: flex;
}

.customers__section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .customers__section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.customers__nav {
  margin-bottom: -30px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

@media screen and (min-width: 768px) {
  .customers__nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__nav {
    display: flex;
  }
}

.customers__item {
  width: 170px;
  height: 92px;
  width: 100%;
  margin-bottom: 30px;
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
}

.customers__item + .customers__item {
  margin-left: 30px;
}

.customers__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .customers__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc(100% / 6 - 30px);
  }
}

.customers__link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  border-color: var(--fifeth-text-color);
  color: #2196f3;
}

.customers__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.customers__icon:hover, .customers__icon:focus {
  fill: var(--fifeth-text-color);
}

.footer__section {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer__container {
  margin: 0px auto;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.container-logo__adress {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container-logo__adress {
    text-align: left;
  }
}

.logo__studio--footer {
  color: #ffffff;
}

.contacts__nav {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contacts__nav {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__nav {
    text-align: left;
    margin-right: 70px;
  }
}

.contacts__nav .contacts__link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts__nav .contacts__link.link-footer:focus {
  color: var(--fifeth-text-color);
}

.contacts__item--map {
  margin-top: 20px;
}

.contacts__item--mail {
  margin-top: 9px;
}

.contacts__item--tel {
  margin-top: 9px;
}

.color__white {
  color: var(--first-text-color);
}

.adress-links .contacts__link:focus .color__white {
  color: var(--fifeth-text-color);
}

.contacts__element {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.social__container {
  padding-top: 12px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social__container {
    margin-right: 93px;
  }
}

.footer__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .footer__title {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .footer__title {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.social__nav {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-top: 20px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.social__link:hover, .social__link:focus {
  background-color: var(--fifeth-text-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  fill: #ffffff;
}

.input__container {
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .input__container {
    align-items: center;
    justify-content: center;
  }
}

.input__title {
  display: block;
  align-items: center;
  justify-content: center;
}

.input__line {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .input__line {
    width: 358px;
  }
}

.input__button {
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .input__button {
    margin-left: 12px;
  }
}

.send__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.blue-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: #f5f4fa;
}

.btn-color .blue-btn {
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--third-tex-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335), background-color 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  position: relative;
  margin-bottom: 15px;
}

.btn-color .blue-btn.blue-btn:hover {
  background-color: var(--fifeth-text-color);
  color: var(--first-text-color);
}

.btn-color .blue-btn.blue-btn:focus {
  background-color: var(--fifeth-text-color);
  color: var(--first-text-color);
}

.titel-text-third {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-tex-color);
}

.content-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

.border-link {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.button-items {
  margin-bottom: 50px;
}

.size-button:not(:last-child) {
  margin-right: 8px;
}

.size-button {
  margin-right: 0px;
}

.portfolo-img {
  margin: 0 auto;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.list-img {
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .list-img {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-img {
    display: flex;
  }
}

.paddings-texts {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-items {
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  position: relative;
}

.img-items:hover, .img-items:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-items {
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.img-items:nth-child(9n) {
  margin-right: 0px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .img-items {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .img-items {
    width: calc(100% / 6 - 30px);
    flex-basis: calc(100% / 3 - 30px);
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.distanse-title {
  margin-bottom: 4px;
}

.size-text {
  width: 320px;
}

.portfolo-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 250ms;
}

.overlay:hover .portfolo-text {
  transform: translateY(0%);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 400ms, visibility 400ms;
}

.backdrop.is-hidden .modal {
  transform: scaleY(-0.1) rotate(150deg);
  transition: transform 400ms;
}

.modal {
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(-0.1) rotate(180deg);
  transform: translate(-50%, -50%);
  transition: transform 400ms;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    width: 528px;
  }
}

.modal__close {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close:hover {
  fill: var(--fifeth-text-color);
}

.modal-close__icon {
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.modal-close__icon:hover {
  fill: var(--fifeth-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  outline: var(--fifeth-text-color);
}

.modal-form__input::placeholder {
  opacity: 0.5;
  font-weight: 400;
}

.modal-form__input:focus {
  border-color: var(--fifeth-text-color);
  background: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .input__icon {
  fill: var(--fifeth-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  display: block;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  letter-spacing: 0.06em;
}

.input-form__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--fourth-text-color);
  display: block;
  margin-bottom: 4px;
}

.input-wap {
  position: relative;
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form__text {
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: var(--fifeth-text-color);
  display: block;
  resize: none;
  padding: 15px;
}

.modal-form__text:focus {
  border-color: var(--fifeth-text-color);
  background: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  height: 24px;
}

@media screen and (max-width: 1199px) {
  .checkbox__text {
    font-size: 12px;
  }
  .checkbox__text .checkbox__link {
    text-decoration-line: underline;
    color: #2196f3;
    margin-left: 5px;
  }
}

.checkbox__link {
  text-decoration-line: underline;
  color: #2196f3;
  margin-left: 5px;
}

.check__item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
}

.check__icon {
  fill: #ffffff;
}

.modal-check:checked + .checkbox__text .check__item {
  background-color: var(--fifeth-text-color);
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*# sourceMappingURL=main.css.map */