.comand__section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

// .comand__container {
// margin: 0 auto;
// }

.comand__nav {
  margin-bottom: -30px;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.comand__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  & + & {
    margin-right: 30px;
  }
  width: 100%;
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.comand__overlay {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-tex-color);
}

.comand__profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  margin-top: 10px;
}

// .social__nav {
//   display: flex;
//   justify-content: center;
// }

.social__item {
  width: 44px;
  height: 44px;
  margin-top: 16px;
  & + & {
    margin-left: 10px;
  }
}

.social__link {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--fifeth-text-color);
  }
  &:hover .social-comand__icon,
  &:focus .social-comand__icon {
    fill: #ffffff;
  }
}

.social-comand__icon {
  fill: #b8b7af;
}

.social__list--last {
  display: flex;
}
