.container__header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 0 auto;
}

.header__navigation {
  align-items: center;
  justify-content: center;
}

.nav {
  justify-content: center;
  align-items: baseline;
  display: none;
}

.nav--color {
  color: var(--third-tex-color);
  & .nav__link {
    color: var(--third-tex-color);
  }
  & .nav__link:focus {
    color: var(--fifeth-text-color);
  }
}

.nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.nav__item--left + .nav__item--left {
  margin-left: 50px;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  &.nav__link--active::after {
    content: "";
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0px;
  }
}

.nav__link--color-black {
  color: var(--third-tex-color);
  transition: color 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  &:hover,
  &:focus {
    color: var(--fifeth-text-color);
  }
}

.nav__link--color-grey {
  color: var(--fourth-text-color);
  transition: color 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  &:hover,
  &:focus {
    color: var(--fifeth-text-color);
  }
}

.nav__connect .nav__link {
  color: var(--fourth-text-color);
  & .nav__link:focus {
    color: var(--fifeth-text-color);
  }
}

.logo__web {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: var(--fifeth-text-color);
  margin-right: 93px;
}

.logo__web--footer {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: var(--fifeth-text-color);
}

.logo__studio-header {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26 px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: #000000;
}

.logo__studio--footer {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26 px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: #000000;
}

.container__connect {
  justify-content: space-between;
  align-items: center;
  display: none;
}

.nav__connect--left {
  margin-left: 305px;
}

.nav__item-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
  margin-right: 30px;
}

.nav__item-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
  justify-content: center;
}

.header__icon-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
  &:hover {
    fill: var(--fifeth-text-color);
  }
}

.header__icon-email {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
  &:hover {
    fill: var(--fifeth-text-color);
  }
}

.line {
  border-bottom: 1px solid #ececec;
}

.open__menu--mob {
  margin-left: auto;

  border: none;
  background-color: #fff;
  transition: fill 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  &:hover,
  &:focus {
    fill: var(--fifeth-text-color);
  }
}
.close__menu--mob {
  display: block;
  margin-left: auto;
  margin-bottom: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  transition: fill 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  &:hover,
  &:focus {
    fill: var(--fifeth-text-color);
  }
}

.mob__menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding-top: 48px;
  padding-top: 48px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mob__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob__link {
  font-style: 400;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  &:hover,
  &:focus {
    color: var(--fifeth-text-color);
  }
}

.mob__item--contact {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob__nav--link-tel {
  font-style: 400;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob__nav--link-mail {
  font-style: 400;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mob__social--list {
  display: flex;
  margin-top: 64px;
}

.mob__social--link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 10px;
}

.line__menu--mob {
  border-left: 1px solid rgba(33, 33, 33, 0.2); /* Параметры линии */
  padding-left: 10px;
  padding-right: 0px; /* Расстояние от линии до текста */
  background: #ffffff;
  height: 22px;
}
